$blue:    #33A6B8 !default; // #007bff !default;
$pink:    #F19483 !default; // #e83e8c !default;
$red:     #C73E3A !default; // #F75C2F !default; // #dc3545 !default;
$orange:  #EFBB24 !default; // #fd7e14 !default;
$yellow:  #F3DE8A !default; // #ffc107 !default;
$green:   #86C166 !default; // #28a745 !default;
$teal:    #A8D8B9 !default; // #20c997 !default;
$leaf:    #4A593D !default;
$cyan:    #c3e2dc !default;
$grass:   #eaffe9 !default;
$lake:    #75B9BE !default;
$gray:    #9eb386 !default;
$white:   #ffffff !default;